@charset "UTF-8";

html {
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

// Vendor
@import "vendor/normalize";

// Settings
@import "settings/type";
@import "settings/colors";

// Helpers
@import "helpers/mixins";
@import "helpers/utilities";

// Components
@import "components/site-header";
@import "components/site-nav";
@import "components/home-head-banner";
@import "components/blog-header";
@import "components/technologies";
@import "components/latest-project-block";
@import "components/portfolio";
@import "components/not-found-error";
@import "components/blog-post";
@import "components/footer";
@import "components/npm-packages-block";
@import "components/featured-blog-post-block";

.site-main {
	padding: 60px 0;
}

.disclaimer-block {
	background: #FF851B;
	color: white;
	font-weight: bold;
}

pre {
	padding: 16px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: #f7f7f7;
	border-radius: 3px;
}

a {
	color: $primary-color;
	transition: color 0.5s ease-out, border-color 0.25s ease-out;
	text-decoration: none;
	border-bottom: 1px solid $primary-color;
	&:hover,
	&:active {
		border-bottom: 1px solid transparent;
		color: $primary-gradient-light;
	}
}

body {
	margin: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

header,
footer {
	flex-grow: 0;
}

main {
	flex-grow: 1;
}

.pagination {
	display: flex;
	justify-content: space-between;
	width: 25%;
	margin: 0 auto;
	font-size: 1.6rem;
	&--next {

	}
	&--previous {

	}
}

.blog-category {
	text-align: center;
	font-size: 3rem;
}

.button {
	margin: 0 auto;
	line-height: 40px;
	padding: 10px 20px;
	transition: background 0.5s ease-out;
	color: white;
	font-size: 1.6rem;
	&:hover {
		color: white;
	}
	&.primary {
		background-color: $primary-color;
		&:hover {
			background-color: $primary-gradient-light;
		}
	}
}