# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
dist

web/app/themes/lukeboyle/assets/bundle.js
web/app/themes/lukeboyle/assets/style.css
ftp.json
web/app/advanced-cache.php
web/app/db.php
web/app/ai1wm-backups
web/app/cache
web/app/w3tc-config