.portfolio {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&--item {
		@include put-in-rows(3, 30px);
		color: white;
		display: flex;
		&--link {
			color: white;
			&:hover {
				text-decoration: none;
			}
		}
		&--title {
			width: 100%;
		}
		p {
			width: 100%;
		}
		&--inner {
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			flex-direction: column;
			flex-wrap: wrap;
		}
	}
}