@import "../settings/widths";
@import "../vendor/breakpoint";

.screen-reader-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}

.max-width-container {
	max-width: 1000px;
	padding: 0 15px;
	margin: 0 auto;

	@include breakpoint($m) {
		padding: 0 30px;
	}
}

.disclaimer-block {
	background: #FF851B;
	color: white;
	white-space: normal;
}