@mixin put-in-rows($items-per-row, $spacing-size) {
	width: calc(#{100vw / $items-per-row} - #{ ($spacing-size / $items-per-row) * ($items-per-row - 1)});
	height: calc(#{100vw / $items-per-row} - #{ ($spacing-size / $items-per-row) * ($items-per-row - 1)});
	margin-bottom: $spacing-size;
}