@import "../settings/colors";
@import "../settings/widths";
@import "../helpers/mixins";
@import "../vendor/breakpoint";

.portfolio {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&--item {
		@include put-in-rows(1, 0px);
		margin-bottom: 30px;
		color: white;
		display: flex;
		flex-direction: column;

		&.shadow {
			box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);
		}

		@include breakpoint($s) {
			@include put-in-rows(2, 30px);
		}
		@include breakpoint($m) {
			@include put-in-rows(3, 30px);
		}
		&--image {
			font-size: 0;
			img {
				width: 100%;
			}
		}
		&--image {
			height: 200px;
			width: 100%;
			background: {
				size: cover;
				repeat: no-repeat;
			}
		}
		&--card {
			width: 100%;
			color: black;
			padding: 10px;
			text-align: center;
			min-height: 150px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			&--title {
				width: 100%;
				font-size: 2.5rem;
			}
			p {
				width: 100%;
				font-size: 1.6rem;
			}
			a {
				font-size: 1.4rem;
				padding: 3px 15px;
			}
		}
	}
}