@import "../settings/colors";
@import "../helpers/mixins";

.technologies-block {
	padding: 60px 0;
	background: $feature-gradient;
	color: white;
	text-align: center;
	position: relative;
	@include top-triangle;
	@include bottom-triangle;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 2;
		li {
			font-size: 2rem;
		}
	}
}