@import "../vendor/breakpoint";
@import "../settings/widths";

.blog-post {
	max-width: 700px;
	margin: 0 auto 2rem;
	font-size: 1.8rem;
	text-align: left;

	p {
		font-size: 1.8rem;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	code span {
		display: block;
	}

	&:last-of-type {
		padding-bottom: 60px;
	}
	&--title {
		padding: 60px 0 0;
		font-size: 3rem;
		line-height: 1.5;
		margin-top: 0;
		text-align: center;

		@include breakpoint($m) {
			font-size: 4.8rem;
		}
	}
	&--meta {
		font-size: 1.4rem;
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 50%;
		margin: 2rem auto;
		&--date {
			display: inline-block;
		}
		&--categories {
			list-style: none;
			display: inline-block;
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				padding: 0;
				margin: 0;
				&:not(:last-child) {
					margin-right: 15px;
				}
			}
		}
	}
	&--content {
		max-width: 700px;
		margin: 0 auto 2rem;
		font-size: 1.8rem;
		text-align: left;
	}
	&--tags {
		font-size: 1.4rem;
		list-style: none;
		display: inline-block;
		padding: 0;
		margin: 0;
		color: rgba(black, 0.7);
		li {
			display: inline-block;
			padding: 0;
			margin: 0;
			&:not(:last-child) {
				margin-right: 15px;
			}
			a {
				color: rgba(black, 0.7);
			}
		}
	}
}