@import "../settings/colors";
@import "../helpers/mixins";
@import "../vendor/breakpoint";
@import "../settings/widths";

.blog-header {
	background: $feature-gradient;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	position: relative;

	@include breakpoint($m) {
		height: 300px;
	}

	@include bottom-triangle;
	&--site-name {
		font-size: 4rem;
		margin: 0 0 30px;

		@include breakpoint($m) {
			font-size: 5rem;
		}
	}
	&--description {
		font-size: 2rem;
	}
	&--menu {
		padding: 0;
		margin: 0;
		list-style: none;
		font-size: 1.4rem;

		li {
			display: inline-block;
			margin: 0;

			&:not(:last-child) {
				margin-right: 15px;
			}

			a {
				color: white;
				border: none;
			}
		}
	}
}