@import "../settings/colors";
@import "../helpers/mixins";
@import "../settings/widths";
@import "../vendor/breakpoint";

.footer {
  background-color: $primary-color;
  height: 70px;
  @include top-triangle;

  @include breakpoint($m) {
    height: 150px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 1.4rem;

    &__copyright {
      color: rgba(white, 0.7);
    }

    a {
      color: rgba(white, 0.7);

      &:hover {
        color: white;
      }
    }
  }
}