@import "../settings/widths";
@import "../vendor/breakpoint";

.home-head-banner {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	height: 250px;

	@include breakpoint($m) {
		height: 400px;
	}

	h2 {
		font-size: 4rem;
		margin: 0 0 15px;

		@include breakpoint($m) {
			margin: 0 0 30px;
			font-size: 6rem;
		}
	}
	p {
		font-size: 2rem;
		margin: 0;

		@include breakpoint($m) {
			font-size: 3rem;
		}

		&:first-of-type {
			margin: 0 0 15px;
		}
	}
}