@import "../settings/colors";
@import "../helpers/mixins";

.latest-project-block {
	padding: 60px 0;
	margin-bottom: 60px;
	text-align: center;
	background: $feature-gradient;
	color: white;
	position: relative;
	@include top-triangle;
	@include bottom-triangle;

	&--project {
		&--title {
			font-size: 2.5rem;
		}
		&--snippet {
			p {
				font-size: 2rem;
			}
		}
	}
}
