@import "../vendor/breakpoint";
@import "../settings/widths";

.npm-packages-block {
	text-align: center;
	&--title {
		font-size: 3rem;
	}
	&--text {
		font-size: 2rem;
	}
	ul {
		padding: 0;
		list-style: none;
		li {
			margin-bottom: 15px;
			@include breakpoint($m) {
				margin-bottom: 10px;
			}
			a {
				font-size: 2rem;
				@include breakpoint($m) {
					font-size: 1.8rem;
				}
			}
		}
	}
}