@import "../settings/colors";
@import "../settings/widths";
@import "../helpers/mixins";
@import "../vendor/breakpoint";

.portfolio {
	display: grid;
	grid-template-columns: 1fr;
	padding-top: 60px;

	@include bp(600px) {
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 20px;
	}

	@include bp(800px) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	&--item {
		margin-bottom: 30px;
		color: white;
		display: flex;
		flex-direction: column;

		&.shadow {
			box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
		}

		&--image {
			font-size: 0;
			img {
				width: 100%;
			}
		}
		&--image {
			height: 200px;
			width: 100%;
			background: {
				size: cover;
				repeat: no-repeat;
			}
		}
		&--card {
			width: 100%;
			color: black;
			padding: 10px;
			text-align: center;
			min-height: 150px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			&--title {
				width: 100%;
				font-size: 2.5rem;
			}
			p {
				width: 100%;
				font-size: 1.6rem;
			}
			a {
				font-size: 1.4rem;
			}
		}
	}
}