@import "../settings/colors";
@import "../settings/widths";
@import "../vendor/breakpoint";

.single-portfolio-item {
	padding: 60px 0;
	&--title {
		font-size: 4rem;
		text-align: center;
	}
	&--content {
		font-size: 1.8rem;
		figure {
			margin: 0;
		}

		p {
			font-size: 1.8rem;
		}

		img {
			max-width: 100%;
		}
	}
	&--buttons {
		padding-top: 50px;
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 50px;
		@include breakpoint($m) {
			margin-bottom: 100px;
		}
		.button {
			padding: 5px 10px;
		}
	}
}