@import "../helpers/utilities";
@import "../helpers/mixins";
@import "../vendor/breakpoint";

.about-page {
  &__header {
    position: relative;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    margin-top: -100px;
    @include background;
    @include breakpoint($m) {
      padding: 60px 0;
      margin-top: -60px;
    }

    &:after {
      height: 10px;
      content: "";
      position: absolute;
      left: 0;
      display: block;
      z-index: 1;
      width: 0;
      bottom: 0;
      transform: translateY(0px);
      border-top: 50px solid transparent;
      border-left: 110vw solid #fff;
    }
  }

  &__image {
    width: 210px;
    height: 210px;
  }
}