@import "../settings/colors";

.button {
	margin: 0 auto;
	line-height: 40px;
	padding: 10px 20px;
	transition: background 0.3s ease-out;
	color: white;
	font-size: 1.6rem;
	outline: none;

	&:hover {
		color: white;
	}

	&.primary {
		background-color: $primary-color;

		&:focus,
		&:hover {
			background-color: $primary-gradient-light;
		}
	}

	&.secondary {
		background-color: transparent;
		border: 1px solid white;
		color: white;

		&:focus,
		&:hover {
			background-color: rgba(white, 0.1);
		}
	}
}