@charset "UTF-8";

html {
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

// Vendor
@import "vendor/normalize";

// Settings
@import "settings/type";
@import "settings/colors";

// Helpers
@import "helpers/mixins";
@import "helpers/utilities";
@import "helpers/sticky-footer";

// Elements
@import "elements/pre";
@import "elements/buttons";
@import "elements/links";

// Components
@import "components/home-head-banner";
@import "components/blog-header";
@import "components/technologies";
@import "components/latest-project-block";
@import "components/portfolio";
@import "components/not-found-error";
@import "components/blog-post";
@import "components/npm-packages-block";
@import "components/featured-blog-post-block";
@import "components/single-portfolio-item";
@import "components/portfolio-pane";
@import "components/pagination";

.about-main {
	padding: 60px 0;
	text-align: center;
	p {
		font-size: 1.8rem;
	}
}

.layout {
	margin: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.site-main {
	padding: 60px 0;
}

.blog-category {
	text-align: center;
	font-size: 3rem;
}